<%- include("header") -%>
<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet, a erat viverra tortor, ac egestas non mi nulla. Ut
  urna tellus commodo mauris, ut massa malesuada quam, nunc vestibulum id magna
  vivamus, mauris magna magna tristique eu. Augue nunc lorem blandit senectus,
  lectus nam donec pretium proin.
</p>

<%- include("footer") -%>
